html{width: 100%; height: 100%;}

body{
    margin: 0 auto;
    text-align: center;
    background: url('/img/desktop-bg.jpg') no-repeat #487175;
    background-size: cover;
    overflow: hidden;

    height: 100%; width: 100%;
    font-size: 16px;
    z-index: 1;
    
    font-family: 'Fredoka One', arial, helvetica, cursive;
}

.wrapper{
    position: relative;
    height: 100%; width: 100%;
}
.big-label{
    position: absolute;
    color: #fff;
    z-index: 10;
    text-align: center;
    
    text-shadow: 4px 4px 6px #4e4848
}
    .big-label .value{font-size: 10em;}
    .big-label .label{
        display: block;
        font-size: 3em;
        margin-top: -1em;
    }
        .big-label .value sup{font-size: 6rem;}

    .score{
        left: 12%;
        transform: rotate(-15deg);
    }
    .timer{
        right: 10%;
        transform: rotate(10deg);
    }
    
    .timer .value{transition: all 0.3s linear;}


    .timer.e6 .value{color: #fee}
        .timer.e6    {transform: rotate(9deg);}
    .timer.e5 .value{color: #fbb; font-size: 11em}
        .timer.e5    {transform: rotate(8deg);}
    .timer.e4 .value{color: #f99; font-size: 12em}
        .timer.e4    {transform: rotate(6deg);}  
    .timer.e3 .value{color: #f66; font-size: 14em}
        .timer.e3    {transform: rotate(4deg);}  
    .timer.e2 .value{color: #f33; font-size: 16em}
        .timer.e2    {transform: rotate(2deg);} 
    .timer.e1 .value{color: #f00; font-size: 18em}
        .timer.e1    {transform: rotate(0deg);}
    
        .timer.e0    {visibility: hidden;}

    .timer.e3 .value,
    .timer.e2 .value,
    .timer.e1 .value{text-shadow: 3px 4px 0px #fff}

    .timer .singular{display: none;}
        .timer.e1 .plural{display: none}
        .timer.e1 .singular{display: block}


.frame{
    position: relative;
    margin: 0 auto;
    top: 7em;
    text-align: center;
    width: 55%;
    height: 400px;
    background: url('/carousel/01.jpg') no-repeat  rgba(255,255,255,0.5);
    background-size: cover;
    overflow: hidden; 
    padding: 5px 7px;
    z-index: 2;
}



.votes{
    position: absolute;    
    display: block;
    bottom: -280px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    z-index: 100;
}

.hacky-clear-because-i-cant-be-arsed-to-think-about-flexbox{
    clear: both;
}

/* Some 3d rotate samples https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d
.votes img:nth-child(1){transform: rotate3d(0,0,0, 10deg);}
.votes img:nth-child(2){transform: rotate3d(1,0,1, 10deg);}
.votes img:nth-child(3){transform: rotate3d(0,1,0, 10deg);}
.votes img:nth-child(4){transform: rotate3d(0,0,1, 10deg);}
.votes img:nth-child(5){transform: rotate3d(1,1,0, 10deg);}
.votes img:nth-child(6){transform: rotate3d(0,1,1, 10deg);}

.votes img:hover{transform:rotate(172deg);}

.votes img{transition: 0.4s all ease-in-out;}*/