<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vote with your Phone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vote.css">
</head>
<body>
    <h2>Vote with your phone!</h2>

    <img src="/img/phone-up.png" />
    <p>Hold your phone the correct way up for <b>"Yay!"</b></p>
    
    <img src="/img/phone-landscape.png" />
    <p>Go landscape for <b>"Neutral"</b></p>    
    
    <img src="/img/phone-down.png" />
    <p>Rotate your phone upside-down for <b>"Boo!"</b></p>
    
    <p class="smallprint">This may not work, your votes are not legally binding</p>

    <footer>
        <p>by <a href="https://twitter.com/fitzpas" target="_blank">@fitzpas</a> and <a href="https://twitter.com/timothy_long" target="_blank">@timothy_long</a></p>
    </footer>

    <script src="/js/voter.js"></script>
</body>
</html>