<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vote with your Phone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vote.css">
</head>
<body>
   
   <h2>Vote with your phone!</h2>
   
   <h3>Instructions</h3>
   
   <p>Hold your phone up the correct way for "Yay!"</p>
   <p>Flip your phone upside-down for "Boo!"</p>
   <p>Go landscape for "Neutral"</p>
   
   
   
    <script src="/js/voter.js"></script>
</body>
</html>