<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vote with your Phone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
   
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/ged.css">   
</head>    
<body>

   <section class="wrapper">
        <section class="score big-label">
           <span class="value">54<sup>%</sup></span>
        </section>
        <section class="timer big-label">           
          <span class="value" id="countdowntimer">10</span> 
          <span class="label plural">seconds</span>
          <span class="label singular">second</span>
        </section>
        
        <section class="frame">
           <img class="" />    
        </section>
       
       <section class="votes">
           <img src="/img/thumbs-up.png" alt="ThumbsUp PNG" />
           <img src="/img/thumbs-up.png" alt="ThumbsUp PNG" />
           <img src="/img/thumbs-down.png" alt="ThumbsUp PNG" />
           <img src="/img/thumbs-down.png" alt="ThumbsUp PNG" />
           <img src="/img/thumbs-up.png" alt="ThumbsUp PNG" />
       </section>
    </section>
       
       
<script>
/*    var timeleft = 10;
    var countdownTimer =  document.getElementById("countdowntimer");
    var downloadTimer = setInterval(function(){
    timeleft--;
    countdownTimer.textContent = timeleft;
    countdownTimer.parentNode.className = "timer big-label e" + timeleft;
        
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);    */
</script>







<script>
  if (!window.WebSocket) {
      alert("This won't work in your browser. Try Chrome or a gooder version of Safari.");
  } else {
      function connectWs() {
          if (!window.ws || window.ws.readyState != WebSocket.OPEN) {
              window.ws = new WebSocket("ws://"+location.host+"/stream");
              window.ws.onopen = function(event) {
                  console.log("WebSocket opened!");
              };
              window.ws.onmessage = function(event) {
                if (event.data) {
                  var div = document.createElement('div');
                  div.innerHTML = JSON.parse(event.data).message;
                  document.body.appendChild(div);
                }
              };
              window.ws.onclose = function(event) {
                  var timer = setTimeout(function() {
                      console.log("Retrying connection...");
                      connectWs();
                      if (window.ws.readyState == WebSocket.OPEN) {
                          clearTimeout(timer);
                      }
                  }, 1000);
              };
          }
      }
      connectWs();
  }
</script>
</body>
</html>